<div class="container white-area my-background height-auto text-dark mt-5" style="height: calc(100% - 18px) !important;">
	<div class="container">
	    <br>
	    <div class="container text-center ">
	        {% set this_card = sets.getNextCardToLearn( _get['id'] ) %}
	        {% if this_card != FAILURE %}
	        
	        {#
		    <div class="position-relative rgba-red-strong">
			  <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid z-depth-1 overlay-img" alt="">
			  <div class="overlay-center" style="z-index:20;">{{ this_card.fronttext }}</div>
			</div>
	        #}
			
			<!--Card-->
			<div class="card card-cascade wider reverse my-4">
			
			    <!--Card image-->
			    <div class="view overlay">
			        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
			        <a href="#!">
			            <div class="mask rgba-white-slight"></div>
			        </a>
			    </div>
			    <!--/Card image-->
			
			    <!--Card content-->
			    <div class="card-body text-center">
			        <!--Title-->
			        <h4 class="card-title"><strong>My adventure</strong></h4>
			        <h5 class="indigo-text"><strong>Photography</strong></h5>
			
			        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
			        </p>
			
			    </div>
			    <!--/.Card content-->
			
			</div>
			<!--/.Card-->
			<br>
			    <!-- Card -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
            <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
            <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
        </div>
    </div>
    <!-- Content -->
</div>
<!-- Card -->
	        
	        {% endif %}
	    </div>
		<br>
		<br>
	</div>
</div>














